body {
font-size: 18px;
line-height: 1.231;
}
.spacing{margin: 10px;margin-bottom: 30px;}
.logo {
text-indent: -9000px;
display: block;
padding: 0;
height: 40px;
width: 80px;
background: url(../images/LogoPrYvDigital_80x40.png) no-repeat center top;
}
.header{padding: 20px;}
footer{padding: 40px;}
.punchline {
padding: 80px 10px ;
background: url('../images/headerBg.jpg') repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
color: #FFF;
}
p{
line-height: 30px;
}

.block{padding:40px;color: #666;text-align:left;}
.block h2,.punchline h1{text-transform: uppercase;margin-bottom: 20px;}


.color1{
background-color: #FFFFFF;
}
.color2{
background-color: #ECF0F1;
}

.footer-banner {
  margin-left: 0px;
}
h1 {
  font-size: 42px;
  font-weight: 300;
  font-family: 'Shadows Into Light Two', cursive;
}
h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 2px;
  font-family: 'Shadows Into Light Two', cursive;
}
.footer-links {
text-align: center;
}
.footer-links li:first-child {
padding-left: 0;
}
.footer-links li {
display: inline;
padding: 0 2px;
}



