body{font-family:Helvetica Neue;color:#7e7e7e}
*{box-sizing:border-box}
h1,h2,h3,h4,h5{font-family:museo_300regular;color:#000}
h1:first-of-type,h2:first-of-type,h3:first-of-type,h4:first-of-type,p:first-of-type{margin-top:0}
h5,h6{margin:1.5em 0 .75em}
blockquote,ul,ol,dl,table,pre{margin:.75em 0}
h1{width:100%;background:#266c9c url("images/bgPaper.png") repeat center center;color:#fff;padding:20px 40px 20px 40px}
h2{border-top:1px solid #eee;padding:40px 0 0 0;color:#333}
h3{text-transform:uppercase;font-size:17.5px}
pre{border:0 none;padding:0}
code{color:#333}
table.definitions th{padding-right:.8em;vertical-align:top;text-align:right;font-weight:normal}
table.definitions table.definitions{margin-top:0}
dl{margin:2em 0;padding:0}
dt{width:15em;float:left;margin:0 0 0 0;padding:.5em;text-align:right}
dd{margin:0 0 0 0;padding:.5em}
.navbar .brand{display:block;margin-left:5px;width:80px;height:40px;padding:0;text-indent:-9000px;background:url("images/LogoPrYvDigital-API.png") no-repeat left center}
.navbar li{margin-top:0 !important;margin-bottom:0 !important}
.navbar .version{margin-top:8px;font-weight:normal;font-size:14px}
.masthead{margin:0 -20px 0 -20px;background:#266c9c url("images/bgPaper.png") repeat center center;}
.masthead h1{color:#fff}
.masthead .container{text-align:center;padding:30px 0 70px 0}
.marketingIcon h2{border:0;padding-top:10px}
.marketingIcon .span4{text-align:center}
.marketingIcon img{margin:20px 0 0 0}
.buttonCreateAccount a{text-align:center;margin:0 auto;background-color:#c22121;color:#ffabab;width:340px;padding:20px 30px;display:block;border:1px solid rgba(0,0,0,0.1);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;cursor:pointer;font-size:18px;}
.buttonCreateAccount a strong{color:#fff}
#main-wrapper{margin-top:40px}
#main > section{border-top:1px solid #eee;}
#main > section:first-of-type{margin-top:0;padding-top:0;border-top:0 none}
#main ul{margin:0;padding:0;list-style:none}
#main li{margin-left:2.4em;padding:10px 0 10px .4em;list-style-type:square}
#main .label.method-id{background-color:#000}
.with-toc #toc{display:none;height:100%;position:fixed;top:0;width:auto;color:#fff;overflow:scroll;margin-top:40px;font-family:museo_300regular,"Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif;width:220px;padding:20px 20px 50px 0;font-size:90%}
.with-toc .toc-h1{font-family:museo_700regular;padding:2px 5px;}
.with-toc .toc-h1 a{color:#333}
.with-toc .toc-h2{padding-left:20px;}
.with-toc .toc-h2 a{color:#a2a2a2}
.with-toc .toc-h3{padding-left:30px;}
.with-toc .toc-h3 a{color:#a2a2a2}
.with-toc .toc-active{background:#369}
.with-toc .toc-active a{color:#fff}
@media (min-width: 767px){html.js body.with-toc #main{margin-left:220px}
html.js body.with-toc .row{position:relative}
html.js body.with-toc #toc{display:block}
html.js body.with-toc.with-examples #toc{top:0;left:0;height:100%;position:fixed;width:200px;padding:20px 0 20px;color:#fff;overflow:scroll;margin-top:40px;border-right:1px solid #eee}
html.js body.with-toc.with-examples #main-wrapper{margin-left:200px;width:auto}
html.js body.with-toc.with-examples #main{float:left;background-color:#edeff3;margin:0 0 0 50%;max-width:none;width:50%;border-left:1px solid #e7e7e7}
html.js body.landing-page #main-wrapper{width:auto}
body{margin:0 auto;padding:0 20px}
body.with-examples{padding:0;}
body.with-examples #main section{float:left;clear:both;width:100%;}
body.with-examples #main section > h1,body.with-examples #main section > h2,body.with-examples #main section > h3{float:left;clear:left;width:50%;padding:40px 40px 0 40px}
body.with-examples #main section > .intro{color:#c4c4c4}
body.with-examples #main section > .intro,body.with-examples #main section > .content{float:left;clear:left;width:50%;padding:0 40px 40px}
body.with-examples #main section > h1{width:100%;background:#266c9c url("images/bgPaper.png") repeat center center;color:#fff;padding:20px 40px 20px 40px}
body.with-examples #main section > aside{float:right;clear:right;width:50%;padding:0 40px}
body.with-examples #main > section{margin-left:-100%;width:200%}
}