body {
  font-family: Helvetica Neue;
  color: #7e7e7e;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: museo_500regular;
}
h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type,
p:first-of-type {
  margin-top: 0;
}
h5,
h6 {
  margin: 1.5em 0 0.75em;
}
p,
blockquote,
ul,
ol,
dl,
li,
table,
pre {
  margin: 0.75em 0;
}
h1 {
  padding: 20px 0 20px 0;
}
h2 {
  border-top: 1px solid #eee;
  padding: 40px 0px 0px 0px;
}
h3 {
  color: #056397;
  text-transform: uppercase;
}
pre {
  border: 0 none;
  padding: 0;
}
.navbar .brand {
  display: block;
  margin-left: 5px;
  width: 80px;
  height: 40px;
  padding: 0;
  text-indent: -9000px;
  background: url("images/LogoPrYvDigital_80x40.png") no-repeat center top;
}
.navbar li {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#main-wrapper {
  margin-top: 40px;
}
#main > section {
  border-top: 1px solid #eee;
}
#main > section:first-of-type {
  margin-top: 0;
  padding-top: 0;
  border-top: 0 none;
}
#toc {
  display: none;
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  background: #3c3f46;
  width: 200px;
  padding-top: 20px;
  color: #fff;
  overflow: scroll;
  margin-top: 40px;
  font-family: museo_500regular, "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
  font-weight: 300;
}
#toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#toc li {
  margin: 0;
  padding: 5px 10px;
  line-height: 1.2em;
}
#toc a {
  color: #d6d6d6;
  text-decoration: none;
  display: block;
}
#toc .toc-h1 {
  font-weight: bold;
}
#toc .toc-h1 a {
  color: #fff;
}
#toc .toc-h2 {
  padding-left: 20px;
  font-size: 0.9em;
}
#toc .toc-h3 {
  padding-left: 30px;
  font-size: 0.85em;
}
#toc .toc-active {
  background: #369;
  box-shadow: inset -5px 0px 10px -5px #000;
}
@media (min-width: 767px) {
  html.js body.with-toc #main-wrapper {
    margin-left: 200px;
  }
  html.js body.with-toc #toc {
    display: block;
  }
  body {
    margin: 0 auto;
    padding: 0 20px;
  }
  body.with-examples {
    padding: 0;
  }
  body.with-examples #main {
    float: left;
    background-color: #edeff3;
    margin: 0 0 0 50%;
    max-width: none;
    width: 50%;
  }
  body.with-examples #main section {
    float: left;
    clear: both;
    width: 100%;
  }
  body.with-examples #main section > h1,
  body.with-examples #main section > h2,
  body.with-examples #main section > h3 {
    float: left;
    clear: left;
    width: 50%;
    padding: 40px 40px 0px 40px;
  }
  body.with-examples #main section > .intro {
    color: #c4c4c4;
  }
  body.with-examples #main section > .intro,
  body.with-examples #main section > .content {
    float: left;
    clear: left;
    width: 50%;
    padding: 0px 40px 40px;
  }
  body.with-examples #main section > h1 {
    width: 100%;
    background: #f3f4f5 url("images/bgH1.png") repeat-y center top;
    color: #25383d;
    padding: 20px 40px 20px 40px;
  }
  body.with-examples #main section > aside {
    float: right;
    clear: right;
    width: 50%;
    padding: 0 40px;
  }
  body.with-examples #main > section {
    margin-left: -100%;
    width: 200%;
  }
}
