body{font-family:Helvetica Neue;color:#7e7e7e;padding-top:50px}
*{-moz-box-sizing:border-box;box-sizing:border-box}
h1,h2,h3,h4,h5{font-family:museo_300regular;color:#000}
h1.page-title{color:#666;background:none}
#main h1:first-of-type,#main h2:first-of-type,#main h3:first-of-type,#main h4:first-of-type,#main p:first-of-type{margin-top:0}
h5,h6{margin:1.5em 0 .75em}
blockquote,ul,ol,dl,table,pre{margin:.75em 0}
h1{width:100%;background:#266c9c url("images/bgPaper.png") repeat center center;color:#fff;padding:20px 40px 20px 40px}
h1.page-title{padding:20px 0}
h2{border-top:1px solid #eee;padding:40px 0 0 0;color:#333}
section:first-of-type>h2{border:none}
h3{text-transform:uppercase;font-size:17.5px}
pre{border:0 none;padding:0}
code{color:#333;background-color:#edeff3}
img{max-width:100%}
table.definitions th{padding-right:.8em;vertical-align:top;text-align:right;font-weight:normal}
table.definitions table.definitions{margin-top:0}
dl{margin:2em 0;padding:0}
dt{width:15em;float:left;margin:0 0 0 0;padding:.5em;text-align:right}
dd{margin:0 0 0 0;padding:.5em}
.navbar .navbar-brand.logo{padding-top:5px}
.masthead{margin:0 -20px 0 -20px;background:#266c9c url("images/bgPaper.png") repeat center center;}
.masthead h1{color:#fff}
.masthead .container{text-align:center;padding:30px 0 70px 0}
.marketing-icon{text-align:center;}
.marketing-icon h2{border:0;padding-top:10px}
.marketing-icon img{margin:20px 0 0 0}
.buttonCreateAccount a{text-align:center;margin:0 auto;background-color:#c22121;color:#ffabab;width:340px;padding:20px 30px;display:block;border:1px solid rgba(0,0,0,0.1);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;cursor:pointer;font-size:18px;}
.buttonCreateAccount a strong{color:#fff}
#main > section{border-top:1px solid #eee;}
#main > section:first-of-type{margin-top:0;padding-top:0;border-top:0 none}
#main ul:not(.nav){margin:0;padding:0;list-style:none;}
#main ul:not(.nav) li{list-style-type:square}
#main ul:not(.nav) li,#main ol li{margin-left:2.4em;padding:10px 0 10px .4em}
#main .content .meta{margin-top:-.5em;margin-bottom:.5em}
#main .content .method-id,#main .content :not(code).http{display:inline-block;height:1.6em;border-radius:.25em;overflow:hidden;}
#main .content .method-id .label,#main .content :not(code).http .label{padding:.5em .6em;border-radius:0;margin:0}
#main .content .method-id .label-value code,#main .content :not(code).http .label-value code,#main .content .method-id .label-value span,#main .content :not(code).http .label-value span{padding:.6em .6em;border-radius:0;margin:0;white-space:nowrap;background-color:#edeff3}
#main .content .method-id{margin-right:.5em;}
#main .content .method-id .label{background-color:#266c9c}
#main aside pre{max-height:400px;overflow-y:scroll}
#main .header>span:not(:last-child){margin-right:.25em}
#main .http .label{background-color:#7e7e7e}
#main .method .step-marker{text-align:center;margin-top:-.65em;margin-bottom:-.58em;font-size:2em;color:#3f3f3f}
#toc{display:none;height:100%;position:fixed;top:50px;width:auto;color:#fff;overflow:scroll;font-family:museo_300regular,"Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif;width:220px;padding:20px 20px 50px 0;font-size:90%;}
#toc ul{margin:0;padding:0}
#toc .toc-h1{font-family:museo_700regular;padding:2px 5px;}
#toc .toc-h1 a{color:#333}
#toc .toc-h2{padding-left:20px;}
#toc .toc-h2 a{color:#a2a2a2}
#toc .toc-h3{padding-left:30px;}
#toc .toc-h3 a{color:#a2a2a2}
#toc .toc-active{background:#369}
#toc .toc-active a{color:#fff}
@media (min-width: 767px){html body.with-toc #main{margin-left:220px}
html body.with-toc .row{position:relative}
html body.with-toc #toc{display:block}
html body.with-toc.with-examples #toc{left:0;width:200px;padding:20px 0 20px;border-right:1px solid #eee}
html body.with-toc.with-examples #main-wrapper{margin-left:200px;width:auto}
html body.with-toc.with-examples #main{float:left;background-color:#edeff3;margin:0 0 0 50%;max-width:none;width:50%;border-left:1px solid #e7e7e7}
html body.landing-page #main-wrapper{width:auto}
body.with-examples #main-wrapper{padding:0}
body.with-examples #main h1.page-title{padding:20px 40px 20px 40px}
body.with-examples #main section{float:left;clear:both;width:100%;}
body.with-examples #main section > h1,body.with-examples #main section > h2,body.with-examples #main section > h3{float:left;clear:left;width:50%;padding:40px 40px 0 40px}
body.with-examples #main section > .intro{color:#c4c4c4}
body.with-examples #main section > .intro,body.with-examples #main section > .content{float:left;clear:left;width:50%;padding:0 40px 40px}
body.with-examples #main section > h1{width:100%;background:#266c9c url("images/bgPaper.png") repeat center center;color:#fff;padding:20px 40px 20px 40px}
body.with-examples #main section > aside{float:right;clear:right;width:50%;padding:0 40px;}
body.with-examples #main section > aside :not(pre)>code{background-color:#fff}
body.with-examples #main > section,body.with-examples #main >h1.page-title{margin-left:-100%;width:200%}
}